<div class="wrapper">
    <h1 class="main-title">Task Manager</h1>

    <div class="link-container">
        <a href="/propuesta.pdf" target="_blank" class="pdf-link">Ver propuesta</a>
    </div>

    <app-task-form (onAddTask)="handleNewTask($event)"></app-task-form>
    
    <app-task-controls (onFilter)="handleFilterChange($event)"></app-task-controls>

    <div class="task-list">
        @for (task of filteredTasks(); track task.title) {
            <app-task-card [task]="task"></app-task-card>
        } @empty {
            <p class="empty">No tasks found for this filter.</p>
        }
    </div>
</div>